<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario crear ruta</title>
</head>
<body>
    <h1>Crear ruta</h1>
    <div class="formulario">
        <div>
            <label for="direccionInicio">Dirección de Inicio:</label>
            <input type="text" id="direccionInicio" [(ngModel)]="direccionInicio" />
            <div *ngIf="coordenadasInicio">
                <p>Latitud (Inicio): {{ coordenadasInicio.lat }}</p>
                <p>Longitud (Inicio): {{ coordenadasInicio.lng }}</p>
            </div>
            <div *ngIf="errorInicio">
                <p>Error (Inicio): {{ errorInicio }}</p>
            </div>
        </div>

        <div>
            <label for="direccionFin">Dirección de Fin:</label>
            <input type="text" id="direccionFin" [(ngModel)]="direccionFin" />
            <div *ngIf="coordenadasFin">
                <p>Latitud (Fin): {{ coordenadasFin.lat }}</p>
                <p>Longitud (Fin): {{ coordenadasFin.lng }}</p>
            </div>
            <div *ngIf="errorFin">
                <p>Error (Fin): {{ errorFin }}</p>
            </div>
        </div>
        <br>
        <button (click)="obtenerCoordenadas()">Obtener Coordenadas de Fin</button>
    </div>
    <form (submit)="onSubmit()" method="POST">
        <label for="organizador">Organizada por:</label>
        <select id="organizador" name="organizador" required>
            <option value="" disabled selected>Seleccione el organizador</option>
            <option value="nombre1">Peter Rodriguez</option>
            <option value="nombre2">George Yaguana</option>
            <option value="nombre3">Melanie Sandoval</option>
        </select>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
