<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="profile-container">
        <img src="https://cdn-icons-png.flaticon.com/512/4792/4792929.png" alt="Imagen de perfil">
        <h1>{{ usuario?.nombre }}</h1>
        <p>Rol: {{ usuario?.tipo_usuario}}</p>
        <button mat-button routerLink="/login">Cerrar Sesion</button>

    </div>
</body>
</html>


