<mat-toolbar color="primary">
    <span>BiciGo</span>
    <button mat-button routerLink="/login">Inicio</button>
    <button mat-button routerLink="/feed">Feed</button>
  
    <!-- Botón "Rutas" con menú desplegable -->
    <button mat-button [matMenuTriggerFor]="menu">Rutas</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/rutas">Mapa</button>
    <button mat-menu-item routerLink="/login">Crear Ruta</button>
  </mat-menu>
    <button mat-button routerLink="/info">Info</button>
    <button mat-button routerLink="/info">Perfil</button>

  </mat-toolbar>
  